/* Import Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Custom styles for Tracker component */
.container {
    max-width: 800px; /* Adjust the maximum width of the container as needed */
}

.lavender-background {
    background-color: #b5b5e4;
}

.dark-theme {
    background-color: #282c35;
    color: #0b0b0b;
}

.welcome {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expenseForm {
    margin-top: 15px;
}

.expenseForm input,
.expenseForm select,
.expenseForm textarea {
    margin-bottom: 10px;
    
    
}

.expenseList {
    margin-top: 15px;
}

.totals {
    margin-top: 15px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
   
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .expenseForm .col-md-4,
    .expenseForm .col-md-3,
    .expenseForm .col-md-2,
    .expenseForm .col-md-1 {
        margin-bottom: 5px;
        padding-left: 150px;
        padding-right: 150px;
    }

    .expenseForm .col-md-1 {
        margin-top: 0px;
    }
}
.col-md-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  