.regField {
    width: 100%;
    background-color: #82a8bb;
    color: #df5050;
    border: 1px solid #ddd;
    padding: 10px; /* Adjust padding */
    box-sizing: border-box;
    font-size: 14px; /* Adjust font size */
}

.submitBtn {
    width: 100%;
    background: #7a498a;
    border: 0;
    color: #fff;
    padding: 10px; /* Adjust padding */
    margin: 10px 0 0 0;
    font-size: 14px; /* Adjust font size */
    cursor: pointer;
}

 .regField {
    padding: 10px; /* Adjust padding */
    font-size: 14px; /* Adjust font size */
}


.underLine {
    text-align: center;
    margin: 7px 0 0 0;
    display: block;
}

.linkBtn {
    border: 0;
    background-color: unset;
    text-decoration: underline;
    color: #3c4043;
    padding: 0;
    margin: 0;
}

.linkBtn:hover {
    color: blue;
    cursor: pointer;
}

.linkBtn:focus,
.submitBtn:focus{
    outline: none;
}
