.user-profile-container {
  margin-top: 20px;
}

.profile-icon {
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px; /* Adjust the value based on your preference */
}

.profile-incomplete-message {
  margin-top: 10px;
}

/* Adjust styling for smaller screens */
@media (max-width: 768px) {
  .user-profile-container {
      text-align: center;
      margin-top: 0px;
  }
  .profile-icon {
      margin-right: 0;
      margin-bottom: 10px;
  }
  .profile-incomplete-message {
      margin-top: 5px;
  }
}
